.kuvia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-inline: 20px;

  .kuvia-header-logo {
    margin-top: 16px;
    margin-left: 70px;
    top: 0;
    left: 0;

    img {
      width: 170px;
    }
  }

  .kuvia-header-right-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 43px;
  }
}