.kuvia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-inline: 20px;

  .kuvia-header-logo {
    margin-top: 16px;
    margin-left: 80px;
    top: 0;
    left: 0;

    img {
      width: 170px;
      filter: drop-shadow(0 0 5px white);
    }
  }

  .kuvia-header-right-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 43px;
  }
}

@media (max-width: 1440px) {
  .kuvia-header {
    margin-top: 26px;
    margin-inline: 16px;

    .kuvia-header-logo {
      margin-top: 13px;
      margin-left: 64px;

      img {
        width: 136px;
        filter: drop-shadow(0 0 4px white);
      }
    }

    .kuvia-header-right-content {
      gap: 10px;
      margin-right: 34px;
    }
  }
}