.kuvia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 26px;

  .kuvia-header-logo {
    margin-left: 80px;
    top: 0;
    left: 0;

    img {
      width: 140px;
      filter: drop-shadow(0 0 5px white);
    }
  }

  .kuvia-header-right-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 43px;
  }
}

@media (max-width: 768px) {
  .kuvia-header {
    width: 100%;
    margin-top: 26px;

    .kuvia-header-logo {
      margin-left: 20px;

      img {
        width: 140px;
        filter: drop-shadow(0 0 5px white);
      }
    }

    .kuvia-header-right-content {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-right: 43px;
    }
  }
}
