.kuvia-mobile-nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  .kuvia-mobile-nav-item {
    width: 100%;
    font-size: 28px !important;
    font-weight: 600;
    text-align: left;
    padding-block: 22px;
    padding-left: 50px;

    a {
      color: var(--primary-dark);
      text-decoration: none;
      text-wrap: nowrap;
    }

    a:hover {
      font-weight: 700;
    }
  }
}
