.kuvia-hamburger-menu {
  display: flex;
  position: sticky;
  width: fit-content;
  align-items: center;
  gap: 20px;
  top: 20px;
  right: 60px;
  margin-top: 30px;
  margin-bottom: -80px;
  margin-left: auto;
  z-index: 10000;

  &.mobile {
    top: 25px;
    margin-bottom: -65px;
    margin-top: 25px;
    right: 20px;

    .kuvia-hamburger-menu-button {
      width: 50px;
      height: 45px;
      border-radius: 10px;
    }

    &-expanded {
      position: fixed;
      overflow: hidden;
      height: 100dvh;
      width: 100%;
      flex-direction: column;
      gap: unset;
      background-color: white;
      margin: 0;
      scroll-behavior: d;
      top: 0;
      right: 0;
      padding-top: 26px;

      .kuvia-hamburger-menu-button {
        margin-left: auto;
        margin-right: 15px;
        background-color: white;
        box-shadow: none;
      }
    }
  }

  .kuvia-hamburger-menu-navbar {
    transition: width 0.5s ease-in-out;
    overflow: hidden;

    &.expand {
      width: 710px;
    }

    &.collapse {
      width: 0px;
    }
  }

  .kuvia-hamburger-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    background-color: #e7e7e7;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 0px #00000012;

    &.spinLeft {
      svg {
        animation: spinLeft 0.5s ease-out;
      }
    }

    &.spinRight {
      svg {
        animation: spinRight 0.5s ease-out;
      }
    }
  }
}
