.kuvia-button {
  padding: 14px 24px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  width: fit-content;
  cursor: pointer;

  &--primary {
    background-color: var(--secondary-dark);
    color: var(--white);

    &:hover {
      opacity: 0.9;
      transition-duration: 0.5s;
    }
  }

  &--secondary {
    background-color: var(--secondary-gray);
    color: var(--secondary-dark);
  }

  &--tertiary {
    background-color: var(--secondary-color);
    color: var(--white);
    backdrop-filter: blur(45.528621673583984px);
    box-shadow: 0px 1.75px 3.51px 0px #e5e5e529 inset;

    &:hover {
      background-color: #eddde3cc;
      transition-duration: 0.5s;
    }
  }

  &--disabled {
    background-color: var(--secondary-dark);
    color: var(--white);
    opacity: 76%;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--rounded {
    border-radius: 33px;
  }

  &--bolded {
    font-weight: 700;
  }
}
