.kuvia-button {
  padding: 15px 30px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  width: fit-content;

  &--primary {
    background-color: var(--secondary-dark);
    color: var(--white);
  }

  &--secondary {
    background-color: var(--secondary-gray);
    color: var(--secondary-dark);
  }

  &--tertiary {
    background-color: var(--secondary-color);
    opacity: 83%;
    color: var(--white);
  }

  &--disabled {
    background-color: var(--secondary-dark);
    color: var(--white);
    opacity: 76%;
    pointer-events: none;
  }

  &--rounded {
    border-radius: 33px;
  }

  &--bolded {
    font-weight: 700;
  }
}