.kuvia-slider-control {
  display: flex;
  gap: 14px;

  .kuvia-slider-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #F3F3F6;
    cursor: pointer;

    &.active {
      background-color: #D2D4DC;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1440px) {
  .kuvia-slider-control {
    gap: 11px;

    .kuvia-slider-item {
      width: 10px;
      height: 10px;
    }
  }
}