.kuvia-slider-control {
  display: flex;
  gap: 14px;

  .kuvia-slider-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f3f3f6;
    cursor: pointer;

    &.active {
      background-color: #d2d4dc;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
