.kuvia-content-switch-item {
  display: flex;
  align-items: center;

  .kuvia-content-switch-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 20px;
    padding: 25px 40px;
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 2px 4px 0px #e5e5e529 inset;

    p {
      font-size: 26px;
      font-weight: 900;
      color: var(--secondary-dark);
      width: auto;
    }

    &.active {
      background-color: var(--secondary-dark);
      backdrop-filter: blur(100px);
      p {
        color: var(--white);
      }
    }
  }

  .kuvia-content-switch-item-circle {
    width: 45px;
    height: 40px;
    background-color: var(--secondary-dark);
    border-radius: 50%;
    margin-left: -15px;
    z-index: 1;
  }
}

@media screen and (max-width: 1280px) {
  .kuvia-content-switch-item {
    .kuvia-content-switch-item-content {
      width: 300px;
      border-radius: 20px;
      padding: 25px 25px;
      padding-right: 10px;

      p {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .kuvia-content-switch-item-circle {
      width: 35px;
      height: 30px;
    }
  }
}

@media (max-width: 768px) {
  .kuvia-content-switch-item {
    position: relative;
    flex-direction: column;
    align-items: center;

    .kuvia-content-switch-item-content {
      flex: 1;
      border-radius: 20px;
      padding: 25px 25px;
      padding-right: 10px;

      p {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .kuvia-content-switch-item-content:focus {
      width: 200px;
    
    }

    .kuvia-content-switch-item-circle {
      position: absolute;
      bottom: -10px;
      width: 30px;
      height: 35px;
      margin-top: -20px;
    }
  }
}
