.kuvia-content-switch-item {
  display: flex;
  align-items: center;

  .kuvia-content-switch-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    width: 550px;
    height: 200px;
    border-radius: 30px;
    padding: 40px 40px 40px 70px;
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 2px 4px 0px #E5E5E529 inset;
    color: var(--secondary-dark);

    &.active {
      background-color: var(--secondary-dark);
      color: var(--white);
      backdrop-filter: blur(100px);
    }
  }

  .kuvia-content-switch-item-circle {
    width: 65px;
    height: 60px;
    background-color: var(--secondary-dark);
    border-radius: 50%;
    margin-left: -15px;
    z-index: 1;
  }
}