.kuvia-content-switch-item {
  display: flex;
  align-items: center;

  .kuvia-content-switch-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    width: 550px;
    height: 200px;
    border-radius: 30px;
    padding: 40px 40px 40px 70px;
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 2px 4px 0px #E5E5E529 inset;
    color: var(--secondary-dark);

    &.active {
      background-color: var(--secondary-dark);
      color: var(--white);
      backdrop-filter: blur(100px);
    }
  }

  .kuvia-content-switch-item-circle {
    width: 65px;
    height: 60px;
    background-color: var(--secondary-dark);
    border-radius: 50%;
    margin-left: -15px;
    z-index: 1;
  }
}

@media screen and (max-width: 1440px) {
  .kuvia-content-switch-item {
    .kuvia-content-switch-item-content {
      font-size: 32px;
      width: 440px;
      height: 160px;    
      border-radius: 24px;
      padding: 32px 32px 32px 56px;
    }

    .kuvia-content-switch-item-circle {
      width: 52px;
      height: 48px;
      margin-left: -12px;
    }
  }
}