.kuvia-content-switch-item {
  display: flex;
  align-items: center;

  .kuvia-content-switch-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 20px;
    padding: 25px 40px;
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 2px 4px 0px #e5e5e529 inset;

    p {
      font-size: 26px;
      font-weight: 900;
      color: var(--secondary-dark);
      width: auto;
    }

    &.active {
      background-color: var(--secondary-dark);
      backdrop-filter: blur(100px);
      p {
        color: var(--white);
      }
    }
  }

  .kuvia-content-switch-item-circle {
    width: 45px;
    height: 40px;
    background-color: var(--secondary-dark);
    border-radius: 50%;
    margin-left: -15px;
    z-index: 1;
  }
}

// @media screen and (max-width: 1440px) {
//   .kuvia-content-switch-item {
//     .kuvia-content-switch-item-content {
//       font-size: 32px;
//       width: 440px;
//       height: 160px;
//       border-radius: 24px;
//       padding: 32px 32px 32px 56px;
//     }

//     .kuvia-content-switch-item-circle {
//       width: 52px;
//       height: 48px;
//       margin-left: -12px;
//     }
//   }
// }
