.kuvia-content-switch-container {
  display: flex;
  height: fit-content;

  .kuvia-content-switch-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  .kuvia-content-switch-content {
    width: 520px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(100px);
    box-shadow: 0px 2px 4px 0px rgba(229, 229, 229, 0.16);
    border-radius: 20px;
    margin-left: -10px;
    padding: 40px 50px;

    .kuvia-content-switch-content-body {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      gap: 20px;

      .kuvia-content-switch-content-title {
        font-size: 26px;
        font-weight: 900;
        color: var(--secondary-dark);
      }

      .kuvia-content-switch-content-description {
        font-size: 18px;
        font-weight: 400;
        color: var(--primary-gray);
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 1280px) {
  .kuvia-content-switch-container {
    height: 380px;
    .kuvia-content-switch-content {
      width: 430px;
      border-radius: 20px;
      margin-left: -8px;
      padding: 35px 35px;

      .kuvia-content-switch-content-body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 20px;

        .kuvia-content-switch-content-title {
          font-size: 24px;
          font-weight: 900;
          color: var(--secondary-dark);
        }

        .kuvia-content-switch-content-description {
          font-size: 16px;
          font-weight: 400;
          color: var(--primary-gray);
          line-height: 1.5;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .kuvia-content-switch-container {
    height: fit-content;
    flex-direction: column;
    align-items: start;
    width: 400px;
    margin-inline: 10px;

    .kuvia-content-switch-items {
      flex-direction: row;
      width: 400px;
      gap: 0px;
      margin-left: 0 !important;
    }

    .kuvia-content-switch-content {
      width: 400px;
      height: 390px;
      border-radius: 20px;
      margin-left: -8px;
      padding: 35px 35px;

      .kuvia-content-switch-content-body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 20px;

        .kuvia-content-switch-content-title {
          font-size: 24px;
          font-weight: 900;
          color: var(--secondary-dark);
        }

        .kuvia-content-switch-content-description {
          font-size: 16px;
          font-weight: 400;
          color: var(--primary-gray);
          line-height: 1.5;
        }
      }
    }
  }
}
