.kuvia-content-switch-container {
  display: flex;

  .kuvia-content-switch-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .kuvia-content-switch-content {
    width: 850px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(100px);
    box-shadow: 0px 2px 4px 0px rgba(229, 229, 229, 0.16);
    border-radius: 30px;
    margin-left: -10px;
    overflow-y: auto;

    .kuvia-content-switch-content-body {
      display: flex;
      flex-direction: column;
      margin: 100px 70px;
      max-height: calc(100% - 200px);
      overflow-y: auto;
      gap: 20px;

      .kuvia-content-switch-content-title {
        font-size: 60px;
        font-weight: 900;
        color: var(--secondary-dark);
      }

      .kuvia-content-switch-content-description {
        font-size: 35px;
        font-weight: 400;
        color: var(--primary-gray);
        line-height: 1.5;
      }
    }

  }
}

@media (max-width: 1440px) {
  .kuvia-content-switch-container {

    .kuvia-content-switch-items {
      gap: 16px;
    }

    .kuvia-content-switch-content {
      width: 660px;
      border-radius: 24px;
      margin-left: -8px;

      .kuvia-content-switch-content-body {
        margin: 60px 56px;
        max-height: calc(100% - 120px);
        gap: 16px;

        .kuvia-content-switch-content-title {
          font-size: 48px;
        }

        .kuvia-content-switch-content-description {
          font-size: 28px;
        }
      }

    }
  }
}