:root {
  --background-color: #F7F7F7;
  --primary-dark: #000000;
  --secondary-dark: #0C131B;
  --white: #FFFFFF;
  --gray: #EBECEC;
  --primary-color: #FFBFD78F;
  --secondary-color: #EDDDE38F;
  --tertiary-color: #D9AAC230;
} 