:root {
  --background-color: #f7f7f7;
  --primary-dark: #000000;
  --secondary-dark: #0c131b;
  --tertiary-dark: #2a3037;
  --white: #ffffff;
  --primary-gray: #676767;
  --secondary-gray: #ebecec;
  --tertiary-gray: #a8a8a8;
  --quaternary-gray: #f3f3f6;
  --primary-color: #f6d0df;
  --secondary-color: #eddde38f;
  --tertiary-color: #d9aac230;
  --quaternary-color: #d3b5ca;
}
