:root {
  --background-color: #F7F7F7;
  --primary-dark: #000000;
  --secondary-dark: #0C131B;
  --tertiary-dark: #2A3037;
  --white: #FFFFFF;
  --primary-gray: #676767;
  --secondary-gray: #EBECEC;
  --tertiary-gray: #A8A8A8;
  --quaternary-gray: #F3F3F6;
  --primary-color: #F6D0DF;
  --secondary-color: #EDDDE38F;
  --tertiary-color: #D9AAC230;
  --quaternary-color: #D3B5CA;
}