:root {
  --background-color: #F7F7F7;
  --primary-dark: #000000;
  --secondary-dark: #0C131B;
  --white: #FFFFFF;
  --primary-gray: #676767;
  --secondary-gray: #EBECEC;
  --primary-color: #FFBFD78F;
  --secondary-color: #EDDDE38F;
  --tertiary-color: #D9AAC230;
  --quaternary-color: #D3B5CA;
}