.kuvia-icon-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 230px;
  min-height: 300px;
  border-radius: 20px;
  gap: 16px;
  padding-block: 30px;
  padding-inline: 20px;

  &--default {
    background-color: var(--secondary-color);
  }

  &--transparent {
    background-color: transparent;
  }

  .kuvia-icon-card-icon-container {
    position: relative;

    .kuvia-icon-card-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      width: 90px;
      overflow: hidden;
      border-radius: 50%;

      img {
        height: 100%;
      }
    }

    .kuvia-icon-card-badge {
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primary-color);
      color: var(--white);
      font-size: 16px;
      border-radius: 50%;
      width: 34px;
      height: 34px;
    }
  }

  .kuvia-icon-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 8px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    text-align: left;

    .kuvia-icon-card-title {
      font-weight: 600;
      color: var(--tertiary-dark);
    }

    .kuvia-icon-card-text {
      font-weight:500;
      line-height: 1.5;
      color: var(--tertiary-gray);
    }
  }
}

.kuvia-icon-card:hover {
  scale: 1.2;
  background-color: var(--secondary-color);
  backdrop-filter: blur(30px);
  box-shadow: 0px 1.82px 3.65px 0px #e5e5e529 inset;
  z-index: 1000;
}

// @media screen and (max-width: 1440px) {
//   .kuvia-icon-card {
//     width: 240px;
//     min-height: 320px;
//     border-radius: 16px;
//     gap: 13px;
//     padding-block: 40px;
//     padding-inline: 20px;

//     .kuvia-icon-card-icon-container {
//       .kuvia-icon-card-icon {
//         height: 96px;
//         width: 96px;

//         img {
//           height: 96px;
//         }
//       }

//       .kuvia-icon-card-badge {
//         top: -8px;
//         right: -8px;
//         font-size: 19px;
//         width: 34px;
//         height: 34px;
//       }
//     }

//     .kuvia-icon-card-content {
//       gap: 13px;
//       margin-left: 6px;
//       font-size: 14px;

//       .kuvia-icon-card-title {
//         font-size: 18px;
//       }

//       .kuvia-icon-card-text {
//         font-size: 19px;
//       }
//     }
//   }

//   .kuvia-icon-card:hover {
//     backdrop-filter: blur(24px);
//     box-shadow: 0px 1.46px 2.92px 0px #e5e5e529;
//   }
// }
