.kuvia-icon-card {
  width: 200px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.124);
  border-radius: 6px;
  overflow: hidden;

  .kuvia-icon-card-top {
    display: flex;
    background-color: #333333;
    height: 170px;
    align-items: center;
    justify-content: center;

    img {
      margin-inline: auto;
    }
  }

  .kuvia-icon-card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    height: 96px;
    font-size: 18px;
    line-height: 150%;

    .kuvia-icon-card-bottom-content {
      margin-inline: 8px;
      font-size: 18px;
      line-height: 150%;
      font-weight: 700;
      text-align: center;

      p {
        margin: 0;
      }
    }

  }
}