.kuvia-aboutus {
  background-color: var(--background-color);
  padding-top: 80px;
  padding-left: 100px;

  .kuvia-aboutus-press {
    h1 {
      font-size: 72px;
      color: var(--primary-dark);
      font-weight: 900;
      margin: 0;
    }

    .kuvia-aboutus-toggles {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin: 30px 0 50px 0;
      padding-right: 100px;
      margin-inline: auto;

      button {
        width: 600px;
        padding-block: 10px;
        border: none;
        border-radius: 30px;
        font-size: 18px;

        &.active {
          background-color: var(--secondary-dark);
          color: var(--white);
          pointer-events: none;
        }

        &.inactive {
          background-color: var(--secondary-gray);
          color: var(--secondary-dark);
          cursor: pointer;
        }
      }
    }

    .kuvia-info-card-group {
      padding-right: 100px;

      .kuvia-info-card {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 420px;
        border-radius: 20px;
        overflow: hidden;
        background-color: var(--white);
        box-shadow: 5px 5px 20px 0px #00000012;
        cursor: pointer;

        img {
          height: 180px;
          width: 100%;
          object-fit: cover;
        }

        .kuvia-info-card-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          padding: 30px;

          .kuvia-info-card-content-tag {
            width: fit-content;
            padding: 8px 15px;
            color: var(--white);
            background-color: var(--secondary-dark);
            border-radius: 18px;
            font-size: 14px;
          }

          .kuvia-info-card-content-description {
            font-size: 16px;
            line-height: 1.5;
            color: var(--primary-gray);
            margin-top: 35px;
          }

          .kuvia-info-card-content-date {
            font-size: 14px;
            color: var(--secondary-dark);
          }
        }
      }
    }
  }

  .kuvia-aboutus-team {
    margin-top: 180px;
    margin-right: 100px;
    padding-bottom: 250px;

    h1 {
      font-size: 72px;
      color: var(--primary-dark);
      font-weight: 900;
      margin: 0;
      margin-bottom: 80px;
    }

    .kuvia-aboutus-team-profile-group {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      row-gap: 50px;

      .kuvia-user-profile-container {
        margin-inline: 8px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .kuvia-aboutus {
    padding-top: 60px;
    padding-left: 20px;

    .kuvia-aboutus-press {
      h1 {
        font-size: 36px;
      }

      .kuvia-aboutus-toggles {
        margin: 20px 0 30px 0;
        padding-right: 20px;
        margin-inline: auto;

        button {
          font-size: 14px;
        }
      }

      .kuvia-info-card-group {
        padding-right: 20px;

        .kuvia-info-card {
          height: 400px;
          width: 300px;

          img {
            height: 150px;
          }

          .kuvia-info-card-content {
            padding: 20px;

            .kuvia-info-card-content-tag {
              font-size: 12px;
            }

            .kuvia-info-card-content-description {
              font-size: 14px;
              margin-top: 30px;
            }

            .kuvia-info-card-content-date {
              font-size: 12px;
            }
          }
        }
      }
    }

    .kuvia-aboutus-team {
      margin-top: 200px;
      margin-right: 20px;
      padding-bottom: 220px;

      h1 {
        font-size: 36px;
        margin-bottom: 60px;
      }

      .kuvia-aboutus-team-profile-group {
        justify-content: space-around;
        row-gap: 40px;

        .kuvia-user-profile-container {
          margin-inline: 8px;
        }
      }
    }
  }
}
