.kuvia-aboutus {
  background-color: var(--background-color);
  padding-top: 120px;
  padding-left: 120px;

  .kuvia-aboutus-press {

    h1 {
      font-size: 80px;
      color: var(--primary-dark);
      font-weight: 900;
      margin: 0;
    }
    
    .kuvia-aboutus-toggles {
      display: flex;
      gap: 8px;
      margin: 50px 120px 80px 0;

      button {
        padding-block: 12px;
        border: none;
        border-radius: 30px;
        font-size: 28px;
        flex: 1;

        &.active {
          background-color: var(--secondary-dark);
          color: var(--white);
          pointer-events: none;
        }

        &.inactive {
          background-color: var(--secondary-gray);
          color: var(--secondary-dark);
          cursor: pointer;
        }
      }
    }

    .kuvia-info-card-group {
      padding-right: 120px;
      padding-bottom: 230px;

      .kuvia-info-card {
        display: flex;
        flex-direction: column;
        height: 660px;
        width: 550px !important;
        border-radius: 30px;
        overflow: hidden;
        background-color: var(--white);
        box-shadow: 5px 5px 20px 0px #00000012;
        cursor: pointer;

        img {
          height: 300px;
          width: 100%;
          object-fit: cover;
        }

        .kuvia-info-card-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          padding: 50px 45px;
          gap: 22px;

          .kuvia-info-card-content-tag {
            width: fit-content;
            padding: 8px 15px;
            color: var(--white);
            background-color: var(--secondary-dark);
            border-radius: 18px;
          }

          .kuvia-info-card-content-description {
            font-size: 24px;
            line-height: 1.5;
            color: var(--primary-gray);
            margin-top: 22px;
          }

          .kuvia-info-card-content-date {
            font-size: 20px;
            color: var(--secondary-dark);
          }
        }
      }
    }
  }

  .kuvia-aboutus-team {

    h1 {
      font-size: 80px;
      color: var(--primary-dark);
      font-weight: 900;
      margin: 0;
      margin-bottom: 80px;
    }

    .kuvia-aboutus-team-profile-group {
      display: flex;
      justify-content: space-between;
      margin-right: 120px;
      padding-bottom: 200px;
    }
  }
}