.kuvia-what-we-do-content {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: static;

  .kuvia-what-we-do-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 200px;

    .kuvia-what-we-do-title {
      flex: none;
      width: 225px;
      font-size: 80px;
      font-weight: 900;
      text-align: center;
      margin-left: 120px;
    }

    .kuvia-what-we-do-content {
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      line-height: 1.5;
      margin-right: 200px;

      button {
        margin-top: 50px;
      }
    }
  }



  .kuvia-page-more-demo-button {
    display: flex;
    position: sticky;
    top: 0;
    margin-bottom: -80px;
  }

  // .kuvia-card-group {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   gap: 60px;
  //   margin-block: 60px;
  // }

  .kuvia-workflow-diagram {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    margin-block: 30px;

    svg {
      transform: rotate(-90deg);
      width: 40px;
    }

    .kuvia-demo-image {
      background-color: #f5f5f5;
      width: 260px;
      border: 4px dashed #333333;
    }

    .kuvia-demo-computer-image-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 355px;
      top: 65px;

      .kuvia-demo-computer-image {
        width: 355px;
      }
    }

    .kuvia-workflow-image-output-arrows {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 88px;
    }

    .kuvia-workflow-image-output-results {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 25px;
      width: 268px;

      .kuvia-card {
        border: 4px dashed #333333;

        .kuvia-card-content {
          margin-inline: 50px;
        }
      }
    }
  }

  .kuvia-workflow-diagram-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .kuvia-icon-card-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-block: 60px;
  }

  .kuvia-user-profile-group {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 576px) {
  .kuvia-page-more-content {
    .kuvia-page-more-demo-button {
      top: calc(100dvh - 70px);
      z-index: 1000;
    }

    .kuvia-workflow-diagram {
      flex-direction: column;
      gap: 20px;
      margin-top: 60px;

      .kuvia-demo-image {
        width: 200px;
      }

      .kuvia-demo-computer-image-container {
        width: 320px;
        top: 0;
        gap: 20px;

        .kuvia-demo-computer-image {
          width: 290px !important;
        }
      }

      svg {
        transform: rotate(0deg);
      }

      .kuvia-workflow-image-output-arrows {
        flex-direction: row;
        margin-top: 10px;
        gap: 140px;
      }

      .kuvia-workflow-image-output-results {
        flex-direction: row;

        .kuvia-card {
          width: 150px !important;
          height: 70px !important;
        }
      }
    }

    .kuvia-workflow-diagram-footer {
      margin-top: 20px;
      margin-bottom: 0;
    }

    .kuvia-card-group {
      flex-direction: column;
      margin-bottom: 40px;

      .kuvia-card {
        width: 270px !important;
        height: 180px !important;
      }
    }

    .asco-external-button {
      width: 340px !important;
      border-radius: 30px !important;
    }

    .kuvia-icon-card-group {
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 40px;

      .kuvia-icon-card {
        width: 155px;

        .kuvia-icon-card-top {
          height: 150px;
        }
      }
    }

    .kuvia-user-profile-group {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 100px;
    }
  }
}