.kuvia-what-we-do-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: max(790px, 100dvh);

  .kuvia-what-we-do-content-switch-background {
    position: absolute;
    right: 0;
    top: -1px;
    z-index: -1;
    height: 101%;
    object-fit: cover;
  }

  .kuvia-what-we-do-content {
    display: flex;
    height: min-content;
    gap: 120px;

    .kuvia-what-we-do-title-container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 40px;

      .kuvia-what-we-do-title {
        flex: none;
        font-size: 72px;
        font-weight: 900;
        text-align: left;
        line-height: 1;
      }

      .kuvia-what-we-do-description {
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        line-height: 1.8;

        b {
          color: var(--primary-color);
        }
      }
    }
  }

  .kuvia-what-we-do-content-switch-container {
    padding-left: 20px;
  }
}

@media (max-width: 1280px) {
  .kuvia-what-we-do-container {
    .kuvia-what-we-do-content {
      gap: 40px;

      .kuvia-what-we-do-title-container {
        display: flex;

        .kuvia-what-we-do-title {
          flex: none;
          font-size: 54px;
          font-weight: 900;
          text-align: left;
          line-height: 1;
        }

        .kuvia-what-we-do-description {
          font-size: 20px;
          font-weight: 500;
          text-align: left;
          line-height: 1.8;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .kuvia-what-we-do-container {
    height: auto;
    .kuvia-what-we-do-content {
      padding-top: 60px;
      gap: 20px;
      height: 100%;

      .kuvia-what-we-do-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2;
        margin-inline: 20px;

        .kuvia-what-we-do-title {
          flex: none;
          font-size: 54px;
          font-weight: 900;
          text-align: center;
          line-height: 1;
        }

        .kuvia-what-we-do-description {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          line-height: 1.4;
        }
      }
    }

    .kuvia-what-we-do-content-switch-container {
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding-top: 2;
      padding-bottom: 70px;
      flex: 1;
    }
  }
}
