.kuvia-what-we-do-content {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: static;

  .kuvia-what-we-do-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;

    .kuvia-what-we-do-title {
      flex: none;
      font-size: 120px;
      font-weight: 900;
      text-align: center;
      margin-left: 120px;
    }

    p {
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      line-height: 1.5;
      margin-right: 200px;

      b {
        color: var(--quaternary-color);
      }
    }
  }


  .kuvia-what-we-do-content-switch-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    padding-block: 100px;

    .kuvia-what-we-do-content-switch-background {
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      height: 100%;
      opacity: 0.33;
    }
  }
}

@media (max-width: 1440px) {
  .kuvia-what-we-do-content {

    .kuvia-what-we-do-container {
      margin-top: 160px;

      .kuvia-what-we-do-title {
        font-size: 96px;
        margin-left: 96px;
      }

      p {
        font-size: 29px;
        margin-right: 160px;
      }
    }


    .kuvia-what-we-do-content-switch-container {
      margin-top: 80px;
      padding-block: 80px;

      .kuvia-what-we-do-content-switch-background {
        top: 56px;
      }
    }
  }
}