.kuvia-what-we-do-content {
  position: static;
  height: max(790px, 100dvh);
  z-index: -3;

  .kuvia-what-we-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 20px;
    height: 100%;

    .kuvia-what-we-do-title-container {
      display: flex;
      gap: 180px;

      .kuvia-what-we-do-title {
        flex: none;
        font-size: 72px;
        font-weight: 900;
        text-align: left;
        line-height: 1;
      }

      .kuvia-what-we-do-description {
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        line-height: 1.8;

        b {
          color: var(--quaternary-color);
        }
      }
    }
  }

  .kuvia-what-we-do-content-switch-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
    flex: 1;

    .kuvia-what-we-do-content-switch-background {
      position: absolute;
      left: 0;
      top: 10px;
      width: 100%;
      height: 100%;
      opacity: 0.33;
    }
  }
}

@media (max-width: 1280px) {
  .kuvia-what-we-do-content {
    position: static;
    height: max(790px, 100dvh);
    z-index: -3;

    .kuvia-what-we-do-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 80px;
      gap: 20px;
      height: 100%;

      .kuvia-what-we-do-title-container {
        display: flex;
        gap: 100px;

        .kuvia-what-we-do-title {
          flex: none;
          font-size: 54px;
          font-weight: 900;
          text-align: left;
          line-height: 1;
        }

        .kuvia-what-we-do-description {
          font-size: 20px;
          font-weight: 500;
          text-align: left;
          line-height: 1.8;

          b {
            color: var(--quaternary-color);
          }
        }
      }
    }

    .kuvia-what-we-do-content-switch-container {
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding-top: 50px;
      padding-bottom: 70px;
      flex: 1;

      .kuvia-what-we-do-content-switch-background {
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        height: 100%;
        opacity: 0.33;
      }
    }
  }
}

@media (max-width: 768px) {
  .kuvia-what-we-do-content {
    .kuvia-what-we-do-container {
      padding-top: 80px;
      gap: 20px;
      height: 100%;

      .kuvia-what-we-do-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-inline: 20px;

        .kuvia-what-we-do-title {
          flex: none;
          font-size: 54px;
          font-weight: 900;
          text-align: center;
          line-height: 1;
        }

        .kuvia-what-we-do-description {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          line-height: 1.8;

          b {
            color: var(--quaternary-color);
          }
        }
      }
    }

    .kuvia-what-we-do-content-switch-container {
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding-top: 50px;
      padding-bottom: 70px;
      flex: 1;

      .kuvia-what-we-do-content-switch-background {
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        height: 100%;
        opacity: 0.33;
      }
    }
  }
}
