.kuvia-what-we-do-content {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: static;

  .kuvia-what-we-do-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 200px;

    .kuvia-what-we-do-title {
      flex: none;
      font-size: 80px;
      font-weight: 900;
      text-align: center;
      margin-left: 120px;
    }

    .kuvia-what-we-do-content {
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      line-height: 1.5;
      margin-right: 200px;

      button {
        margin-top: 50px;
      }
    }
  }


  .kuvia-what-we-do-content-switch-container {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    padding-block: 100px;

    .kuvia-what-we-do-content-switch-background {
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      height: 100%;
      opacity: 0.33;
    }
  }
}

@media (max-width: 576px) {
}