.kuvia-why-kuvia {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: var(--secondary-dark);
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;

  .kuvia-why-kuvia-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    max-width: 925px;

    .kuvia-why-kuvia-title {
      color: var(--background-color);
      font-size: 80px;
      font-weight: 900;
      margin-bottom: auto;
    }

    .kuvia-why-kuvia-description {
      color: var(--background-color);
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      line-height: 1.5;
      text-align: left;
    }
  }

  .kuvia-why-kuvia-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    margin-inline: auto;

    .kuvia-why-kuvia-content-background {
      position: relative;
      width: 600px;
    }

    .kuvia-why-kuvia-content-item {
      position: absolute;
      color: var(--white);
      font-size: 18px;
      font-weight: 700;
      background-color: var(--secondary-color);
      padding: 14px 22px;
      border-radius: 15px;
      backdrop-filter: blur(45.319271087646484px);
      box-shadow: 0px 1.75px 3.49px 0px #e5e5e529 inset;
    }
  }
}

// @media screen and (max-width: 1440px) {
//   .kuvia-why-kuvia {
//     padding-top: 80px;
//     gap: 16px;

//     .kuvia-why-kuvia-container {
//       .kuvia-why-kuvia-title {
//         font-size: 112px;
//         margin-left: 96px;
//       }

//       .kuvia-why-kuvia-description {
//         font-size: 29px;
//         margin-right: 32px;
//       }
//     }

//     .kuvia-why-kuvia-content {
//       gap: 96px;
//       margin-top: 40px;

//       .kuvia-why-kuvia-content-background {
//         width: 612px;
//       }

//       .kuvia-why-kuvia-content-item {
//         font-size: 22px;
//         padding: 12px 20px;
//         border-radius: 16px;
//         backdrop-filter: blur(36px);
//         box-shadow: 0px 1.4px 2.8px 0px #e5e5e529;
//       }
//     }
//   }
// }
