.kuvia-why-kuvia {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: var(--secondary-dark);
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .kuvia-why-kuvia-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: max(1045px, 70%);
    flex: 1;

    .kuvia-why-kuvia-title {
      color: var(--background-color);
      font-size: 72px;
      font-weight: 900;
    }

    .kuvia-why-kuvia-description {
      color: var(--background-color);
      font-size: 26px;
      font-weight: 400;
      text-align: center;
      line-height: 1.5;
      text-align: left;

      b {
        color: var(--primary-color);
        font-weight: 700;
      }
    }
  }

  .kuvia-why-kuvia-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    margin-inline: auto;

    .kuvia-why-kuvia-content-background {
      position: relative;
      width: 600px;
    }

    .kuvia-why-kuvia-content-item {
      position: absolute;
      color: var(--white);
      font-size: 18px;
      font-weight: 700;
      background-color: var(--secondary-color);
      padding: 14px 22px;
      border-radius: 15px;
      backdrop-filter: blur(45.319271087646484px);
      box-shadow: 0px 1.75px 3.49px 0px #e5e5e529 inset;
    }
  }
}

@media screen and (max-width: 1280px) {
  .kuvia-why-kuvia-container {
    gap: 40px !important;
    width: 90% !important;
    max-width: 900px;

    .kuvia-why-kuvia-title {
      font-size: 54px !important;
    }

    .kuvia-why-kuvia-description {
      font-size: 20px !important;
    }
  }

  .kuvia-why-kuvia-content {
    .kuvia-why-kuvia-content-background {
      width: 500px !important;
    }

    .kuvia-why-kuvia-content-item {
      font-size: 16px !important;
      padding: 12px 16px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .kuvia-why-kuvia-container {
    flex-direction: column;
    gap: 30px !important;
    width: 90% !important;

    .kuvia-why-kuvia-title {
      font-size: 36px !important;
    }

    .kuvia-why-kuvia-description {
      font-size: 18px !important;
      text-align: center !important;
    }
  }

  .kuvia-why-kuvia-content {
    width: 100%;
    flex-direction: column;
    gap: 20px !important;
    height: 270px;
    overflow: hidden;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 10px;
    .kuvia-why-kuvia-content-background {
      position: absolute !important;
      bottom: 0;
      // width: min(90vw, 400px) !important;
      height: 240px;
    }

    .kuvia-why-kuvia-content-item {
      position: relative !important;
      font-size: 12px !important;
      padding: 12px 16px !important;
    }
  }
}
