.kuvia-why-kuvia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-dark);
  padding-top: 120px;

  .kuvia-why-kuvia-container {
    display: flex;
    gap: 265px;

    .kuvia-why-kuvia-title {
      color: var(--background-color);
      font-size: 140px;
      font-weight: 900;
      margin-left: 120px;
    }

    .kuvia-why-kuvia-description {
      color: var(--background-color);
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      line-height: 1.5;
      text-align: left;
      margin-right: 40px;
    }

  }

  .kuvia-why-kuvia-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 50px;
    width: 100%;

    .kuvia-why-kuvia-content-background {
      position: relative;
    }

    .kuvia-why-kuvia-content-item {
      position: absolute;
      color: var(--white);
      font-size: 27px;
      font-weight: 900;
      background-color: var(--secondary-color);
      padding: 15px 25px;
      border-radius: 20px;
      backdrop-filter: blur(45.319271087646484px);
      box-shadow: 0px 1.75px 3.49px 0px #E5E5E529 inset;
    }
  }
}