.kuvia-product {
  background-color: var(--background-color);
  padding-top: 150px;

  .kuvia-how-it-works-container {
    margin-left: 100px;

    .kuvia-how-it-works-title {
      font-size: 90px;
      font-weight: 900;
      color: var(--secondary-dark);
    }

    .kuvia-how-it-works-cards-group {
      display: flex;
      justify-content: space-between;
      margin-right: 120px;
      margin-top: 100px;
    }
  }

  .kuvia-our-product {
    display: flex;
    background-color: var(--white);
    margin-inline: auto;
    width: 90%;
    height: 750px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 200px;
    margin-bottom: 150px;

    .kuvia-our-product-left-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;
      width: 50%;
      padding-top: 50px;
      padding-left: 60px;


      .kuvia-our-product-left-content-title {
        font-size: 80px;
        font-weight: 900;
        color: var(--secondary-dark);
      }

      .kuvia-our-product-left-content-body {
        font-size: 36px;
        font-weight: 400;
        line-height: 1.37;
        color: var(--primary-black);
        max-width: 560px;
        margin-top: 30px;
        margin-left: 10px;
      }

      .kuvia-our-product-left-content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .kuvia-our-product-left-content-footer-text {
          font-weight: 500;
          font-size: 18px;
          color: #C0C2C4;
          margin-right: 60px;
        }
      }
    }

    .kuvia-our-product-right-content {
      width: 50%;
      background-color: var(--tertiary-color);
      padding-top: 40px;
      border-radius: 20px;

      .kuvia-our-product-right-content-title {
        color: var(--tertiary-gray);
        margin-left: 57px;
        font-size: 26px;
      }

      .kuvia-our-product-right-content-body {
        position: relative;
        width: 70%;
        height: 100%;
        margin-inline: auto;
        margin-top: 40px;


        img {
          border-radius: 20px;
          overflow: hidden;
          width: 100%;
          height: 100%;

        }

        .kuvia-our-product-right-content-tag {
          display: flex;
          flex-direction: column;
          gap: 5px;
          position: absolute;
          width: 360px;
          background-color: var(--secondary-color);
          padding: 15px 25px;
          border-radius: 20px;
          backdrop-filter: blur(39.97038269042969px);
          box-shadow: 0px 1.54px 3.08px 0px #E5E5E529 inset;
          color: var(--white);

          h1 {
            font-size: 30px;
            font-weight: 900;
            margin: 0;
          }

          p {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .kuvia-scalability {
    display: flex;
    background-color: var(--secondary-dark);
    justify-content: space-between;
    padding-bottom: 180px;

    .kuvia-scalability-left-content {
      display: flex;
      flex-direction: column;
      color: var(--background-color);
      gap: 40px;
      padding-left: 120px;

      .kuvia-scalability-title {
        font-size: 80px;
        font-weight: 900;
        margin: 0;
        margin-top: 120px;
      }

      .kuvia-scalability-body {
        font-size: 36px;
        max-width: 790px;
        line-height: 1.37;

        b {
          color: var(--quaternary-color)
        }
      }
    }

    .kuvia-scalability-right-content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 120px;
      margin-top: 190px;
      position: relative;

      img {
        width: 460px;
        object-fit: contain;
      }

      a {
        position: absolute
      }
    }
  }
}