.kuvia-product {
  background-color: var(--background-color);

  .kuvia-how-it-works-container {
    margin-left: 100px;

    .kuvia-how-it-works-title {
      margin-top: 150px;
      font-size: 90px;
      font-weight: 900;
      color: var(--secondary-dark);
    }

    .kuvia-how-it-works-cards-group {
      display: flex;
      gap: 5px;
      margin-top: 100px;
    }
  }

  .kuvia-our-product {
    display: flex;
    background-color: var(--white);
    margin-inline: auto;
    width: 90%;
    height: 850px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 200px;

    .kuvia-our-product-left-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;
      width: 50%;
      padding-top: 90px;
      padding-left: 60px;


      .kuvia-our-product-left-content-title {
        font-size: 80px;
        font-weight: 900;
        color: var(--secondary-dark);
      }

      .kuvia-our-product-left-content-body {
        font-size: 36px;
        font-weight: 400;
        line-height: 1.37;
        color: var(--primary-black);
        max-width: 560px;
        margin-top: 50px;
        margin-left: 20px;
      }

      .kuvia-our-product-left-content-footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;

        .kuvia-our-product-left-content-footer-text {
          font-weight: 500;
          font-size: 18px;
          color: #C0C2C4;
          margin-right: 60px;
        }
      }
    }

    .kuvia-our-product-right-content {
      width: 50%;
      background-color: var(--tertiary-color);
      padding-top: 40px;
      border-radius: 20px;

      .kuvia-our-product-right-content-title {
        color: var(--tertiary-gray);
        margin-left: 57px;
        font-size: 26px;
      }

      .kuvia-our-product-right-content-body {
        position: relative;
        width: 70%;
        height: 100%;
        margin-inline: auto;
        margin-top: 40px;


        img {
          border-radius: 20px;
          overflow: hidden;
          width: 100%;
          height: 100%;

        }

        .kuvia-our-product-right-content-tag {
          display: flex;
          flex-direction: column;
          gap: 5px;
          position: absolute;
          width: 360px;
          background-color: var(--secondary-color);
          padding: 15px 25px;
          border-radius: 20px;
          backdrop-filter: blur(39.97038269042969px);
          box-shadow: 0px 1.54px 3.08px 0px #E5E5E529 inset;
          color: var(--white);

          h1 {
            font-size: 30px;
            font-weight: 900;
            margin: 0;
          }

          p {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}