.kuvia-product {
  background-color: var(--background-color);
  padding-top: 150px;

  .kuvia-how-it-works-container {
    margin-left: 100px;

    .kuvia-how-it-works-title {
      font-size: 90px;
      font-weight: 900;
      color: var(--secondary-dark);
    }

    .kuvia-how-it-works-cards-group {
      display: flex;
      justify-content: space-between;
      margin-right: 120px;
      margin-top: 100px;
    }
  }

  .kuvia-our-product {
    display: flex;
    background-color: var(--white);
    margin-inline: auto;
    max-width: 1450px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 200px;
    margin-bottom: 150px;

    .kuvia-our-product-left-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;
      width: 50%;
      padding-top: 30px;
      padding-left: 40px;


      .kuvia-our-product-left-content-title {
        font-size: 78px;
        font-weight: 900;
        color: var(--secondary-dark);
      }

      .kuvia-our-product-left-content-body {
        font-size: 32px;
        font-weight: 400;
        line-height: 1.37;
        color: var(--primary-black);
        max-width: 560px;
        margin-top: 30px;
        margin-left: 10px;
      }

      .kuvia-our-product-left-content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .kuvia-our-product-left-content-footer-text {
          font-weight: 500;
          font-size: 18px;
          color: #C0C2C4;
          margin-right: 60px;
        }
      }
    }

    .kuvia-our-product-right-content {
      display: flex;
      flex-direction: column;
      width: 50%;
      background-color: var(--tertiary-color);
      padding-top: 40px;
      border-radius: 20px;

      .kuvia-our-product-right-content-title {
        color: var(--tertiary-gray);
        margin-left: 57px;
        font-size: 26px;
      }

      .kuvia-our-product-right-content-body {
        position: relative;
        width: 70%;
        height: 80%;
        margin-inline: auto;
        margin-top: 40px;
        flex: 1;

        img {
          border-radius: 20px;
          overflow: hidden;
          width: 100%;
          height: 100%;
          object-fit: fill;
        }

        .kuvia-our-product-tags-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          justify-content: space-evenly;

          .kuvia-our-product-right-content-tag {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 400px;
            background-color: var(--secondary-color);
            padding: 15px 25px;
            border-radius: 20px;
            backdrop-filter: blur(39.97038269042969px);
            box-shadow: 0px 1.54px 3.08px 0px #E5E5E529 inset;
            color: var(--white);
            align-self: center;

            h1 {
              font-size: 30px;
              font-weight: 900;
              margin: 0;
            }

            p {
              font-size: 16px;
              font-weight: 600;
            }

            &.left-align {
              align-self: flex-start;
              margin-left: -15%;
            }

            &.right-align {
              align-self: flex-end;
              margin-right: -15%;
            }
          }
        }
      }
    }
  }

  .kuvia-scalability {
    display: flex;
    height: 100dvh;
    background-color: var(--secondary-dark);
    justify-content: space-between;
    align-items: center;

    .kuvia-scalability-left-content {
      display: flex;
      flex-direction: column;
      color: var(--background-color);
      gap: 40px;
      padding-left: 120px;

      .kuvia-scalability-title {
        font-size: 80px;
        font-weight: 900;
        margin: 0;
      }

      .kuvia-scalability-body {
        font-size: 36px;
        max-width: 790px;
        line-height: 1.37;

        b {
          color: var(--quaternary-color)
        }
      }
    }

    .kuvia-scalability-right-content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 120px;
      position: relative;

      img {
        width: 460px;
        object-fit: contain;
      }

      a {
        position: absolute
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .kuvia-product {
    padding-top: 120px;

    .kuvia-how-it-works-container {
      margin-left: 80px;

      .kuvia-how-it-works-title {
        font-size: 72px;
      }

      .kuvia-how-it-works-cards-group {
        margin-right: 96px;
        margin-top: 80px;
      }
    }

    .kuvia-our-product {
      max-width: 1150px;
      height: 520px;
      border-radius: 16px;
      margin-top: 160px;
      margin-bottom: 120px;

      .kuvia-our-product-left-content {
        gap: 40px;
        padding-top: 24px;
        padding-left: 32px;

        .kuvia-our-product-left-content-title {
          font-size: 62px;
        }

        .kuvia-our-product-left-content-body {
          font-size: 24px;
          max-width: 448px;
          margin-top: 24px;
          margin-left: 8px;
        }

        .kuvia-our-product-left-content-footer {
          margin-bottom: 24px;

          .kuvia-our-product-left-content-footer-text {
            font-size: 14px;
            margin-right: 48px;
          }
        }
      }

      .kuvia-our-product-right-content {
        padding-top: 32px;
        border-radius: 16px;

        .kuvia-our-product-right-content-title {
          margin-left: 46px;
          font-size: 21px;
        }

        .kuvia-our-product-right-content-body {
          margin-top: 32px;

          img {
            border-radius: 16px;
          }

          .kuvia-our-product-tags-container {
            height: 100%;

            .kuvia-our-product-right-content-tag {
              gap: 4px;
              width: 320px;
              padding: 12px 20px;
              border-radius: 16px;
              backdrop-filter: blur(32px);
              box-shadow: 0px 2px 2px 0px #E5E5E529;

              h1 {
                font-size: 24px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }

    .kuvia-scalability {
      .kuvia-scalability-left-content {
        gap: 32px;
        padding-left: 96px;

        .kuvia-scalability-title {
          font-size: 64px;
        }

        .kuvia-scalability-body {
          font-size: 29px;
          max-width: 632px;
        }
      }

      .kuvia-scalability-right-content {
        margin-right: 96px;

        img {
          width: 368px;
        }
      }
    }
  }
}