.kuvia-product {
  background-color: var(--background-color);
  padding-top: 80px;

  .kuvia-how-it-works-container {
    margin-left: 100px;

    .kuvia-how-it-works-title {
      font-size: 72px;
      font-weight: 900;
      color: var(--secondary-dark);
    }

    .kuvia-how-it-works-cards-group {
      display: flex;
      justify-content: space-evenly;
      margin-top: 60px;
      margin-right: 100px;
    }
  }

  .kuvia-our-product {
    display: flex;
    background-color: var(--white);
    margin-inline: auto;
    max-width: 1200px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 120px;
    margin-bottom: 80px;

    .kuvia-our-product-left-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;
      width: 50%;
      padding-top: 30px;
      padding-left: 40px;

      .kuvia-our-product-left-content-title {
        font-size: 64px;
        font-weight: 900;
        color: var(--secondary-dark);
      }

      .kuvia-our-product-left-content-body {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.37;
        color: var(--primary-black);
        padding: 50px 40px 0px 10px;
      }

      .kuvia-our-product-left-content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .kuvia-our-product-left-content-footer-text {
          font-weight: 500;
          font-size: 16px;
          color: #c0c2c4;
          margin-right: 60px;
        }
      }
    }

    .kuvia-our-product-right-content {
      display: flex;
      flex-direction: column;
      width: 50%;
      background-color: var(--tertiary-color);
      padding-top: 30px;
      border-radius: 20px;

      .kuvia-our-product-right-content-title {
        color: var(--tertiary-gray);
        margin-left: 57px;
        font-size: 22px;
      }

      .kuvia-our-product-right-content-body {
        position: relative;
        width: 70%;
        height: 80%;
        margin-inline: auto;
        margin-top: 30px;
        flex: 1;

        img {
          border-radius: 20px;
          overflow: hidden;
          width: 100%;
          height: 100%;
          object-fit: fill;
        }

        .kuvia-our-product-tags-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          justify-content: space-evenly;

          .kuvia-our-product-right-content-tag {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 400px;
            background-color: var(--secondary-color);
            padding: 20px 25px;
            border-radius: 20px;
            backdrop-filter: blur(39.97038269042969px);
            box-shadow: 0px 1.54px 3.08px 0px #e5e5e529 inset;
            color: var(--white);
            align-self: center;

            h1 {
              font-size: 22px;
              font-weight: 900;
              margin: 0;
            }

            p {
              font-size: 16px;
              font-weight: 500;
            }

            &.left-align {
              align-self: flex-start;
              margin-left: -15%;
            }

            &.right-align {
              align-self: flex-end;
              margin-right: -15%;
            }
          }
        }
      }
    }
  }

  .kuvia-scalability {
    display: flex;
    height: 100dvh;
    background-color: var(--secondary-dark);
    align-items: center;

    .kuvia-scalability-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-inline: auto;
      justify-content: space-evenly;
      padding-inline: 100px;

      .kuvia-scalability-left-content {
        display: flex;
        flex-direction: column;
        color: var(--background-color);
        gap: 40px;
        width: max(590px, 50%);

        .kuvia-scalability-title {
          font-size: 72px;
          font-weight: 900;
          margin: 0;
        }

        .kuvia-scalability-body {
          font-size: 26px;
          line-height: 1.37;

          b {
            color: var(--quaternary-color);
          }
        }
      }

      .kuvia-scalability-right-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          width: 460px;
          object-fit: contain;
        }

        a {
          position: absolute;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .kuvia-product {
    padding-top: 60px;

    .kuvia-how-it-works-container {
      margin-left: 40px;

      .kuvia-how-it-works-title {
        font-size: 54px;
      }

      .kuvia-how-it-works-cards-group {
        margin-right: 40px;
        margin-top: 40px;
        flex-wrap: wrap;

        .kuvia-icon-card {
          width: 200px;
          min-height: 250px;

          .kuvia-icon-card-icon {
            width: 80px;
            height: 80px;
          }

          .kuvia-icon-card-badge {
            width: 30px;
            height: 30px;
            font-size: 14px;
          }

          .kuvia-icon-card-content {
            font-size: 14px;
          }
        }
      }
    }

    .kuvia-our-product {
      max-width: 1150px;
      height: 500px;
      border-radius: 16px;
      margin-top: 160px;
      margin-bottom: 120px;
      margin-inline: 10px;

      .kuvia-our-product-left-content {
        gap: 40px;
        padding-top: 24px;
        padding-left: 32px;

        .kuvia-our-product-left-content-title {
          font-size: 48px;
        }

        .kuvia-our-product-left-content-body {
          font-size: 20px;
          max-width: 448px;
          margin-top: 10px;
          margin-left: 2px;
          padding-top: 20px;
        }

        .kuvia-our-product-left-content-footer {
          margin-bottom: 24px;

          .kuvia-our-product-left-content-footer-text {
            font-size: 14px;
            margin-right: 48px;
          }
        }
      }

      .kuvia-our-product-right-content {
        padding-top: 32px;
        border-radius: 16px;

        .kuvia-our-product-right-content-title {
          margin-left: 46px;
          font-size: 21px;
        }

        .kuvia-our-product-right-content-body {
          margin-top: 32px;

          img {
            border-radius: 16px;
          }

          .kuvia-our-product-tags-container {
            height: 100%;

            .kuvia-our-product-right-content-tag {
              gap: 4px;
              width: 320px;
              padding: 12px 20px;
              border-radius: 16px;
              backdrop-filter: blur(32px);
              box-shadow: 0px 2px 2px 0px #e5e5e529;

              h1 {
                font-size: 24px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }

    .kuvia-scalability {
      .kuvia-scalability-content {
        padding-inline: 20px !important;
        gap: 40px;

        .kuvia-scalability-left-content {
          gap: 32px;

          .kuvia-scalability-title {
            font-size: 54px;
          }

          .kuvia-scalability-body {
            font-size: 24px;
          }
        }

        .kuvia-scalability-right-content {
          margin-right: 0;

          img {
            width: 368px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .kuvia-product {
    .kuvia-how-it-works-container {
      flex-direction: column;
      align-items: center;
      margin-left: 20px;

      .kuvia-how-it-works-title {
        font-size: 36px;
      }

      .kuvia-how-it-works-cards-group {
        margin-right: 20px;
        margin-top: 50px;
        padding-block: 20px;
        padding-inline: 50px;
        gap: 50px;

        .swiper-slide-active {
          display: flex;
          justify-content: center;
        }

        .swiper-slide-prev {
          display: flex;
          justify-content: flex-end;
        }

        .kuvia-slider-item {
          background-color: white;

          &.active {
            background-color: var(--secondary-dark);
          }
        }

        .kuvia-icon-card {
          width: 180px;
          min-height: 210px;
          padding-block: 20px;
          padding-inline: 15px;
          gap: 10px;
          pointer-events: none !important;

          .kuvia-icon-card-icon {
            width: 60px;
            height: 60px;
          }

          .kuvia-icon-card-content {
            font-size: 14px;
          }

          &.active {
            scale: 1.2;
            background-color: var(--secondary-color);
            backdrop-filter: blur(30px);
            box-shadow: 0px 1.82px 3.65px 0px #e5e5e529 inset;
            z-index: 1000;
          }

          &:hover {
            all: unset !important;
          }
        }
      }
    }

    .kuvia-our-product {
      flex-direction: column;
      height: auto;
      max-width: 700px;
      margin-top: 80px;
      margin-bottom: 60px;
      margin-inline: 20px;

      .kuvia-our-product-left-content {
        width: 100%;
        padding: 20px;
        gap: 30px;
        height: 450px;

        .kuvia-our-product-left-content-title {
          font-size: 36px;
        }

        .kuvia-our-product-left-content-body {
          font-size: 16px;
          padding: 20px 10px;
          max-width: unset;
        }

        .kuvia-our-product-left-content-footer {
          flex-direction: column;
          gap: 10px;
          align-items: center;
          margin-bottom: unset;

          .kuvia-our-product-left-content-footer-text {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }

      .kuvia-our-product-right-content {
        width: 100%;
        height: 550px;
        padding-top: 20px;

        .kuvia-our-product-right-content-title {
          margin-left: 20px;
          font-size: 20px;
        }

        .kuvia-our-product-right-content-body {
          width: 90%;
          margin-inline: auto;
          margin-top: 30px;

          img {
            width: 100%;
            border-radius: 16px;
          }

          .kuvia-our-product-tags-container {
            flex-direction: column;

            .kuvia-our-product-right-content-tag {
              width: 90%;
              align-self: center;
              margin-bottom: 10px;
              p {
                font-size: 14px;
              }

              &.left-align,
              &.right-align {
                align-self: center;
                margin-left: 0;
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .kuvia-scalability {
      .kuvia-scalability-content {
        flex-direction: column;

        .kuvia-scalability-left-content {
          width: unset;
          max-width: 700px;
          align-items: center;

          .kuvia-scalability-title {
            font-size: 36px;
          }

          .kuvia-scalability-body {
            font-size: 18px;
            text-align: center;
            text-wrap: wrap;
          }
        }

        .kuvia-scalability-right-content {
          img {
            width: min(80vw, 300px);
          }
        }
      }
    }
  }
}
