.kuvia-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  padding: 15px 30px;
  border-radius: 16px;
  background: linear-gradient(270deg, rgba(194, 194, 194, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 4px 0px #E5E5E529 inset;

  .kuvia-navbar-link {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-dark);
    text-decoration: none;
  }
}

