.kuvia-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 14px 24px;
  border-radius: 16px;
  background-color: #e7e7e7;
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 4px 0px #e5e5e529 inset;

  .kuvia-navbar-link {
    a {
      font-size: 16px;
      font-weight: 500;
      color: var(--primary-dark);
      text-decoration: none;
      text-wrap: nowrap;
    }

    a:hover {
      font-weight: 700;
      transition-duration: 0.3s;
    }

    &--active {
      a {
        font-weight: 700;
      }
    }

    .kuvia-navbar-link-underline {
      width: 100%;
      margin-top: 2px;
      height: 2px;
      background-color: var(--secondary-dark);
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;

      &--active {
        transform: scaleX(1);
      }
    }
  }

  .kuvia-navbar-link:hover {
    .kuvia-navbar-link-underline {
      transform: scaleX(1);
    }
  }
}
