.kuvia-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  padding: 15px 30px;
  border-radius: 16px;
  background: linear-gradient(270deg, rgba(194, 194, 194, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 4px 0px #E5E5E529 inset;

  .kuvia-navbar-link {
    a {
      font-size: 24px;
      font-weight: 400;
      color: var(--primary-dark);
      text-decoration: none;
      text-wrap: nowrap;
    }

    a:hover {
      font-weight: 700;
      transition-duration: 0.3s;
    }

    .kuvia-navbar-link-underline {
      width: 100%;
      margin-top: 2px;
      height: 2px;
      background-color: var(--secondary-dark);
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  .kuvia-navbar-link:hover {
    .kuvia-navbar-link-underline {
      transform: scaleX(1);
    }
  }
}

@media (max-width: 1440px) {
  .kuvia-navbar {
    gap: 56px;
    padding: 12px 24px;
    border-radius: 13px;

    .kuvia-navbar-link {
      a {
        font-size: 18px;
      }
    }

    .kuvia-navbar-link:hover {
      .kuvia-navbar-link-underline {
        transform: scaleX(1);
      }
    }
  }
}