.kuvia-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 14px 24px;
  border-radius: 16px;
  background-color: #e7e7e7;
  backdrop-filter: blur(40px);
  box-shadow: 0px 2px 4px 0px #e5e5e529 inset;

  .kuvia-navbar-link {
    a {
      font-size: 16px;
      font-weight: 500;
      color: var(--primary-dark);
      text-decoration: none;
      text-wrap: nowrap;
    }

    a:hover {
      font-weight: 700;
      transition-duration: 0.3s;
    }

    .kuvia-navbar-link-underline {
      width: 100%;
      margin-top: 2px;
      height: 2px;
      background-color: var(--secondary-dark);
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  .kuvia-navbar-link:hover {
    .kuvia-navbar-link-underline {
      transform: scaleX(1);
    }
  }
}

// @media (max-width: 1440px) {
//   .kuvia-navbar {
//     gap: 40px;
//     padding: 13px 19px;
//     border-radius: 13px;
//     backdrop-filter: blur(32px);
//     box-shadow: 0px 1.6px 3.2px 0px #E5E5E529 inset;

//     .kuvia-navbar-link {
//       a {
//         font-size: 13px;
//       }

//       .kuvia-navbar-link-underline {
//         margin-top: 2px;
//         height: 2px;
//       }
//     }
//   }
// }
