@keyframes up-and-down {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes fade-out-and-up {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.kuvia-landing-page-main-content-container {
  height: 100dvh;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .kuvia-landing-page-main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .kuvia-landing-body {
      width: 100%;
      display: flex;
      align-items: start;

      .kuvia-landing-body-content {
        text-align: left;

        h2 {
          font-size: 54px;
          margin-left: 90px;
        }
      }
    }

    .kuvia-landing-read-more {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
      animation-name: up-and-down;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      justify-self: flex-end;
      margin-bottom: 5px;

      p {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
      }

      svg {
        width: 24px;
      }
    }

    .kuvia-landing-background-pause-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 20px;
      right: 20px;
      border-radius: 50%;
      border: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: #d9d9d9cc;
    }
  }
}

@media (max-width: 576px) {}