@keyframes up-and-down {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes fade-out-and-up {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.kuvia-landing-page-main-content-container {
  height: 100vh;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 60%,
      rgba(214, 186, 210, 1) 100%);

  .kuvia-landing-page-main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .kuvia-landing-body {
      width: 100%;
      display: flex;
      align-items: start;

      .kuvia-landing-body-content {
        width: 575px;
        text-align: left;

        h2 {
          font-size: 45px;
          font-weight: 700;
          margin-left: 70px;
        }
      }
    }

    .kuvia-landing-read-more {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
      animation-name: up-and-down;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      justify-self: flex-end;
      margin-bottom: 5px;

      p {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
      }

      svg {
        width: 24px;
      }
    }
  }
}

@media (max-width: 576px) {
  .kuvia-landing-page-main-content-container {
    height: 100dvh !important;

    .kuvia-landing-body-content {
      flex-direction: column !important;
      margin-top: 60px !important;

      .kuvia-landing-body-left-content {
        margin: 0 !important;
        text-align: center !important;

        .kuvia-landing-body-left-content-title {
          margin: 0 !important;
          font-size: 60px !important;

          .kuvia-landing-left-title-a {
            font-size: 75px !important;
          }
        }

        h1,
        h2 {
          width: auto !important;
        }

        h1 {
          margin-top: 10px !important;
          padding: 10px !important;
          font-size: 22px;
        }

        h2 {
          margin-inline: 10px !important;
          font-size: 18px;
        }
      }

      .kuvia-landing-body-right-content {
        margin-top: 20px;

        .landing-image {
          width: 65% !important;
        }
      }
    }
  }
}