@keyframes up-and-down {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.kuvia-landing-page-main-content-container {
  height: 100dvh;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
  }

  .kuvia-landing-page-main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .kuvia-landing-body {
      width: 100%;
      display: flex;
      align-items: start;

      .kuvia-landing-body-content {
        text-align: left;

        h2 {
          font-size: 54px;
          margin-left: 90px;
          background: linear-gradient(270deg, rgba(194, 194, 194, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
          backdrop-filter: blur(40px);
          box-shadow: 0px 2px 4px 0px #E5E5E529 inset;
          padding: 50px;
          border-radius: 30px;
          overflow: hidden;
          // text-shadow:
          //   0 0 10px rgba(255, 255, 255, 0.5),
          //   0 0 10px rgba(255, 255, 255, 0.4),
          //   0 0 20px rgba(255, 255, 255, 0.3);
        }
      }
    }

    .kuvia-landing-read-more {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      animation-name: up-and-down;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      justify-self: flex-end;
      margin-bottom: 5px;

      p {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        text-shadow:
          0 0 10px rgba(255, 255, 255, 0.5),
          0 0 10px rgba(255, 255, 255, 0.4),
          0 0 20px rgba(255, 255, 255, 0.3);
      }

      svg {
        width: 24px;
      }
    }

    .kuvia-landing-background-pause-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 20px;
      right: 20px;
      border-radius: 50%;
      border: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: #d9d9d9cc;
    }
  }
}

@media (max-width: 576px) {}