@keyframes spinLeft {
  from {
    transform: rotate(0deg);
    opacity: 0;
    cursor: none;
  }

  to {
    transform: rotate(-180deg);
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes spinRight {
  from {
    transform: rotate(0deg);
    opacity: 0;
    cursor: none;
  }

  to {
    transform: rotate(180deg);
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes collapse {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.kuvia-landing-page {
  display: flex;
  flex-direction: column;
  flex: 1 1;

  .kuvia-landing-page-content {
    position: static;
  }
}