@keyframes spinLeft {
  from {
    transform: rotate(0deg);
    opacity: 0;
    cursor: none;
  }

  to {
    transform: rotate(-180deg);
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes spinRight {
  from {
    transform: rotate(0deg);
    opacity: 0;
    cursor: none;
  }

  to {
    transform: rotate(180deg);
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes shrink {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.kuvia-landing-page {
  display: flex;
  flex-direction: column;
  flex: 1 1;

  .kuvia-landing-page-content {
    position: static;


    .kuvia-hamburger-menu {
      display: flex;
      position: sticky;
      width: fit-content;
      align-items: center;
      gap: 20px;
      top: 30px;
      right: 60px;
      margin-top: 20px;
      margin-bottom: -80px;
      margin-left: auto;
      z-index: 10000;

      .kuvia-hamburger-menu-navbar {
        transition: width 1s ease-in-out;
        overflow: hidden;

        &.expand {
          width: 710px;
        }

        &.shrink {
          width: 0px;
        }
      }

      .kuvia-hamburger-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 60px;
        background-color: #E7E7E7;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 0px #00000012;

        &.spinLeft {
          svg {
            animation: spinLeft 1s ease-out;
          }
        }

        &.spinRight {
          svg {
            animation: spinRight 1s ease-out;
          }
        }
      }
    }
  }
}