.kuvia-user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .kuvia-user-profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 5px 20px 0px #00000012;

    img {
      filter: grayscale(100%);
      width: 100%;
    }
  }

  .kuvia-user-profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 10px;

    .kuvia-user-profile-title {
      font-size: 18px;
      font-weight: 600;
      margin: 20px 0 0 0;
    }

    .kuvia-user-profile-description {
      font-size: 16px;
      font-weight: 500;
      color: #d29dc9;
    }

    .kuvia-user-profile-linkedin {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: unset;

      img {
        width: 18px;
        height: 18px;
        border-radius: 2px;
      }

      p {
        color: #0a66c2;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &:hover {
    scale: 1.1;
  }
}

// @media screen and (max-width: 1440px) {
//   .kuvia-user-profile-container {
//     .kuvia-user-profile-image {
//       width: 208px;
//       height: 208px;
//       box-shadow: 4px 4px 16px 0px #00000012;

//       img {
//         width: 208px;
//       }
//     }

//     .kuvia-user-profile-content {
//       gap: 8px;

//       .kuvia-user-profile-title {
//         font-size: 14px;
//         margin: 16px 0 0 0;
//       }

//       .kuvia-user-profile-description {
//         font-size: 18px;
//       }

//       .kuvia-user-profile-linkedin {
//         gap: 8px;

//         img {
//           width: 14px;
//           height: 14px;
//           border-radius: 2px;
//         }

//         p {
//           font-size: 13px;
//         }
//       }
//     }
//   }
// }

@media (max-width: 768px) {
  .kuvia-user-profile-container {
    width: 160px;
    .kuvia-user-profile-image {
      width: 130px;
      height: 130px;
    }

    .kuvia-user-profile-content {
      gap: 10px;

      .kuvia-user-profile-title {
        font-size: 16px;
      }

      .kuvia-user-profile-description {
        font-size: 14px;
      }

      .kuvia-user-profile-linkedin {
        gap: 8px;

        img {
          width: 16px;
          height: 16px;
        }

        p {
          color: #0a66c2;
          font-size: 14px;
          font-weight: 600;
          margin: 0;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &:hover {
      scale: 1.1;
    }
  }
}
