@keyframes show {
  0% {
    display: none;
  }

  100% {
    display: block;
  }
}

.patient-search {
  position: relative;
  width: 410px;
  margin-inline: auto;

  .search-bar {
    position: inherit;
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -3px 10px 15px rgb(228, 228, 228);
    background-color: white;
    z-index: 100;

    .search-input {
      display: flex;
      flex: 1;
      justify-content: space-between;
    }

    .search-button {
      display: flex;
      width: 65px;
      height: 100%;
      background-color: #303030;

      img {
        filter: invert(100%);
        margin: auto;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .delete-search {
      height: 15px;
      aspect-ratio: 1/1;
      align-self: center;
      justify-self: center;
      translate: -20px;

      &:hover {
        cursor: pointer;
      }
    }

    input[type="text"] {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 16px;
      font-family: inherit;
      padding-left: 20px;

      &:focus {
        outline: none;
      }
    }
  }

  .patient-options {
    position: absolute;
    width: 100%;
    top: 15px;
    background-color: rgb(248, 245, 245);
    box-shadow: 0px 10px 15px rgb(228, 228, 228);
    padding-top: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;

    ul {
      list-style: none;
      padding-left: 0;
      margin: unset;
      min-height: 0px;
      max-height: 0px;
      transition: max-height 0.25s ease-in;

      &.expanded {
        max-height: 200px;
      }

      li {
        padding-block: 15px;
        padding-left: 20px;
        line-height: 20px;

        &:hover {
          cursor: pointer;
          background-color: #e2e2e2;
        }
      }
    }
  }
}
