.kuvia-banner {
  width: 352px;
  height: 64px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 62px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.124);

  p {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    margin-left: 15px;
  }
}

// @media screen and (max-width: 1440px) {
//   .kuvia-banner {
//     width: 282px;
//     height: 51px;
//     margin-top: 50px;
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;

//     p {
//       font-size: 19px;
//       margin-left: 12px;
//     }
//   }
// }
